<h1>Editing group payment</h1>

<%= render "form", group_payment: @group_payment %>

<br />

<div>
  <%= link_to "Show this group payment", @group_payment %> | <%= link_to "Back
  to group payments", group_payments_path %>
</div>
